@import "mixins";
@import "fonts";
h1,
h2,
h3,
h4,
h5,
h5,
div,
ul,
li {
  margin: 0;
  padding: 0;
  
}

input,
button,
select,
a {
  outline: none;

  &:focus {
    outline: none;
  }
}
html, body { height:100%; margin:0; padding:0; overflow: hidden;}

// Заголовки
h1 {
  @include font(28px, $font-montserrat-bold, none, 900);
}

h2 {
  @include font(20px, $font-montserrat-medium, none, 500);
}

h3 {
  @include font(15px, $font-montserrat-reg, none, 400);
}

h4 {
  @include font(12px, $font-montserrat-reg, none, 400);
}

p {
  @include font(18px, $font-montserrat-reg, $font-header-p--color-primary, 400);
  text-decoration: none;
}
label{
  @include font(15px, $font-montserrat-reg, $font-h1--color-primary, 400);
}




.alert {
  position: fixed;
  top: 0%;
  left: 0%;
  display: block;
  box-sizing: border-box;
  z-index: 1000;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  animation: fadeIm-Ou 0.3s ease;
}
@keyframes fadeIm-Ou {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.alert-container {
  position: relative;
  max-width: 500px;
  margin: 1.75rem auto;
  box-shadow: 0 0px 5px 1px rgba(0, 0, 0, 0.1);
}
.alert-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: inherit;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.3rem;
  outline: 0;
}

.alert-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #dee3e6;
  background-color: inherit;
  font-size: 1.2rem;
  font-weight: 400;
}
.alert-success {
  background-color: #cff6e4;
  color: #000000;
  padding-left: 4rem;
}
.alert-success::before {
  font-family: "Font Awesome\ 6 Free";
  font-weight: 900;
  content: "\f058";
  position: absolute;

  left: 18px;
  top: 10%;
  font-size: 2rem;
  color: #0f5132;
}





.alert-danger {
  background-color: #f7dfe1;
  color: #5b161c;
  padding-left: 4rem;
}

.alert-danger::before {
  font-family: "Font Awesome\ 6 Free";
  font-weight: 900;
  content: "\f057";
  position: absolute;
  left: 18px;
  top: 10%;
  font-size: 2rem;
  color: #842029;
}


